.body {
    margin:0px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
    position: relative;

}
.Titrejeu {
    font-family: 'Special Gothic Condensed One', sans-serif;
    font-size: 15vw;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 0.5px whitesmoke;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    bottom: 37%;
    display: inline-block;
    overflow: hidden;
    letter-spacing: 10px;
}

.Titrejeu::before {
    content: "HAINERGIE";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0%;
    height: 100%;
    color: whitesmoke;
    border-right: 4px solid whitesmoke;
    white-space: nowrap;
    overflow: hidden;
    animation: revealText 2s ease-in-out forwards;
    filter: drop-shadow(0 0 10px whitesmoke);
}

@keyframes revealText {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.rectangle1 {
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    border-bottom : solid seagreen 15px;
    position: absolute;
    box-shadow: 5px 5px 5px 5px gray;
    z-index: 2;
    top: 30%;
}
.rectangle2{
    width: 100vw;
    height: 250px;
    position: absolute;
    bottom: 0;
    background-color: lightgrey;
    z-index: 1;

}


.connexion {
    font-family: 'Special Gothic Condensed One', sans-serif;
    font-size: 50px;
    text-align: center;
    color : seagreen;
    position: relative;
    text-transform: uppercase;
    text-decoration: underline;

}
form{
    text-align: center;
}

.Texteemail {
    font-family: 'Special Gothic Condensed One', sans-serif;
    text-align: left;
    color: gray;
    font-size: 25px;
    margin-left: 100px;

}


input[type="email"]{
    width: 800px;
    height: 30px;
    background-color: lightgrey;
    border : none;
}

input[type="email"]:hover{
    background-color: darkgrey;
}

.textemdp {
    font-family: 'Special Gothic Condensed One', sans-serif;
    position: relative;
    text-align: left;
    color: gray;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 20px;
}

input[type="password"]{
    width: 800px;
    height: 30px;
    background-color: lightgrey;
    border : none;
}

input[type="password"]:hover{
    background-color: darkgrey;
}

input[type ="submit"] {
    background-color : seagreen;
    width: 800px;
    height: 50px;
    position: relative;
    border : none;
    border-radius: 10px;
    margin-top: 40px;
    font-family: 'Special Gothic Condensed One', sans-serif;
    color: white;
    font-size: 35px;

}
input[type ="submit"]:hover {
    background-color : mediumseagreen;
}


.verssignup {
    font-family: 'Special Gothic Condensed One', sans-serif;
    margin-left: 550px;
    color: seagreen;
}

.verssignup:hover {
    color: mediumseagreen;
}

.erreurmdp {
    z-index: 3;
    margin-top: 10px;
    font-family: 'Special Gothic Condensed One', sans-serif;
    color: red;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;


}

.erreuremail {
    z-index: 3;
    margin-top: 10px;
    font-family: 'Special Gothic Condensed One', sans-serif;
    color: red;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

.erreurchamp {
    z-index: 3;
    margin-top: 10px;
    font-family: 'Special Gothic Condensed One', sans-serif;
    color: red;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

.changermdp{
    color: seagreen;
    font-family: 'Special Gothic Condensed One', sans-serif;
    margin-left: 100px;
}

.changermdp:hover{
    color: mediumseagreen;
}

.changer {
    z-index: 3;
    margin-top: 10px;
    font-family: 'Special Gothic Condensed One', sans-serif;
    color: green;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

.comptecreer  {
    z-index: 3;
    margin-top: 10px;
    font-family: 'Special Gothic Condensed One', sans-serif;
    color: green;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}